@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Quicksand:wght@300;400;500;600;700&display=swap');
.container-product-gallery{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand';
    border-radius: 0.5rem;
    background-color: #fff;
}
.product-image{
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    width: 14.6875rem;
    height: 14.875rem;
    overflow: hidden;
}
.container-product-details{
    display: inline-flex;
    justify-content: space-between;
    margin: 1.12rem 0.7rem 0rem;
}
.product-name{
    color: #6134C2;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -0.03rem;
}
.product-category{
    border-radius: 0.5rem;
    background: #CEBCC3;
    padding: 0.31rem 1.12rem;
    color: #6134C2;
    text-align: center;
    font-size: 0.6875rem;
    font-weight: 600; 
}
.product-price{
    color: #6134C2;

    margin-bottom: 4rem;
    font-size: 0.6875rem;
    font-weight: 600;
}
.container-product-buttons{
    display: inline-flex;
    justify-content: space-between;
    margin: 1.12rem 0.7rem 0rem;
}
.button-details{
    color: #F3B605;
    text-align: center;
    font-size: 0.6875rem;
    padding: 0.31rem 0.69rem;
    box-shadow: 0px 4px 0px #000;
}
.container-actions{
    display: inline-block;
    gap: 0.31rem;
}
.button-action{
    background-color: #6134C2;
    box-shadow: 0px 4px 0px #000;
    width: 1.625rem;
    height: 1.5rem;
}
.icon-action{
    padding: 0.2rem;
    height: auto;
    width: auto;
}