@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Quicksand:wght@300;400;500;600;700&display=swap');
.footer-general-container{
    display: inline-flex;
    gap: 1rem;
}
.footer-logo{
    width: 6.25rem;
    height: auto;
}
.footer-calltoaction{
    color: #F8BAD1;
    font-family: 'Quicksand';
    font-size: 1.1875rem;
    font-weight: 600;
}